@font-face
{
    font-family: Arizona;
    src: url("../resources/ArizonaAirwaysNF.ttf");
}

@font-face
{
    font-family: TeamSpirit;
    src: url("../resources/TeamSpiritNF.ttf");
}

@font-face
{
    font-family: Flott;
    src: url("../resources/Flottflott.ttf");
}

@font-face
{
    font-family: Moon;
    src: url("../resources/moon_get-Heavy.ttf");
}



:root
{
    --main-blue: #4da6ff;
    --main-red: #ff704d;
    --main-white: #e6e6e6;
}


.section-title
{
  font-family: Arizona;
  text-align: center;
  font-size: 65px;
  padding: 30px;
  margin: 0px;
}
