.appointment-button
{
  display: block;
  margin: 0 auto;
  margin-top: 250px;
  width: 300px;
  height: 80px;
  text-align: center;
  font-family: Moon;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid var(--main-red);
  border-radius: 5px;
  color: white;
  background-color: var(--main-red);
  cursor:pointer;
  -webkit-transition: border .4s; /* Safari */
  transition: border .4s;
}

.appointment-button:hover
{
  border: 3px solid var(--main-blue);
}

.appointment-button:focus
{
  outline: none;
}
