.AppointmentButton
{
  display: block;
  margin: 0 auto;
  margin-top: 250px;
  width: 320px;
  height: 80px;
  text-align: center;
  font-family: serif;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid var(--main-red);
  color: white;
  background-color: transparent;
  cursor:pointer;
  -webkit-transition: border .4s; /* Safari */
  transition: border .4s;
}

.AppointmentButton:hover
{
  border: 2px solid var(--main-blue);
}

.AppointmentButton:focus
{
  outline: none;
}
