.title-text
{
  font-family: Flott;
  font-size: 100px;
  font-weight: bold;
  outline-width: 12px;
  outline-color: var(--main-blue);
  outline-style: double;
  color: white;
  margin-top: 15%;
  text-align: center;
}
